<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/include/head"></th:block>
</head>
<body>
<th:block th:include="/include/navbar"></th:block>

<form th:action="@{/students/edit/{id}(id=${student.id})}" th:object="${student}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="email" name="email" th:field="*{email}" placeholder="email">
    <input type="text" name="firstName" th:field="*{firstName}" placeholder="email">

    <input type="text" name="lastName" th:field="*{lastName}" placeholder="email">
    <select id="className" name="className" th:field="*{classRoom.idClass}">
        <option th:each="classRoom : ${classRooms}"
                th:value="${classRoom.idClass}"
                th:text="${classRoom.className}"
                th:selected="${classRoom.idClass == student.classRoom.idClass}"></option>
    </select>
    <button type="submit">Add Class</button>

</form>


<th:block th:include="/include/footer"></th:block>

<h1>Hello</h1>
</body>
</html>