<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/include/head"></th:block>
</head>
<body>
<th:block th:include="/include/navbar"></th:block>

<form th:action="@{/classroom/edit/{id}(id=${classRoom.idClass})}" th:object="${classRoom}" method="post">
    <input type="hidden" th:field="*{idClass}">
    <input type="text" name="className" th:field="*{className}" placeholder="Class name">
    <input type="number" name="numberMember" th:field="*{numberMember}" placeholder="Number of members">
    <button type="submit">Add Class</button>

</form>


<th:block th:include="/include/footer"></th:block>

<h1>Hello</h1>
</body>
</html>